node_modules/
.next/
.env
.env.local
.env*.local
next-env.d.ts
*.node
prisma/dev.db
prisma/*.db
package-lock.json
postcss.config.js
prisma/dev.db
prisma/dev.db-journal
.env
.env.local
.next/
node_modules/
